<nav>
    <ul>
        <div class="logo">
            <li>
            <img src="/img/logo.svg" alt="logo">
        </li>
        </div>
        
        <li>
            <a href="/Estadisticas" class="nav-a">
                <i class="fas fa-chart-bar"></i>
                <span class="nav-item">Estadisticas</span>
            </a>
        </li>
        <li>
            <a href="/Alumnos" class="nav-a">
            <i class="fas fa-user-graduate"></i>
                <span class="nav-item">Alumnos</span>
            </a>
        </li>
         <li>
            <a href="/Escuelas" class="nav-a">
            <i class="fas fa-school"></i>
                <span class="nav-item">Escuelas</span>
            </a>
        </li>
         <li>
            <a href="/Colonias" class="nav-a">
            <i class="fas fa-city"></i>
                <span class="nav-item">Colonias</span>
            </a>
        </li>
         <li>
            <a href="/Arboles" class="nav-a">
            <i class="fas fa-tree"></i>
                <span class="nav-item">Árboles</span>
            </a>
        </li>
        <li>
            <a href="/mi-cuenta" class="nav-a">
            <i class="fas fa-user-circle"></i>
            <span class="nav-item">Mi cuenta</span>
            </a>
        </li>
            <a class="logout nav-a" href="/cerrar-sesion">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Cerrar sesion</span>
            </a>

        </li>
    </ul>
</nav>
