<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Colonia</title>
    <link rel="stylesheet" href="../css/formulario.css"> <!-- Verifica que la ruta sea correcta -->
</head>
<body>
<div class="formulario-container">
    <h1>SIEMBRA VALORES</h1>
    <h2>AGREGAR COLONIA</h2>

    <form>
        <label for="nombre-colonia">Nombre de la Colonia:</label>
        <input type="text" id="nombre-colonia" name="nombre-colonia">

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad">

        <label for="min-arboles">Mínimo de árboles:</label>
        <input type="text" id="min-arboles" name="min-arboles">

        <label for="meta-arboles">Meta de árboles:</label>
        <input type="text" id="meta-arboles" name="meta-arboles">

        <label for="codigo-postal">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal">

        <button type="button" id="btn-agregar-colonia">Agregar</button>
    </form>
</div>
<script src="../js/agregar-colonia.js"></script>
</body>
</html>
