<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="login">
    <div class="login-container">
        <!-- Logo de la app -->
        <img src="../img/logo.svg" alt="Logo de la App" class="logo-inicio">

        <!-- Título de la página -->
        <h1>INICIO DE SESIÓN</h1>

        <!-- Campos de usuario y contraseña -->
        <form class="login-form">
            <input type="text" placeholder="Usuario" id="txt-correo" required>
            <input type="password" placeholder="Contraseña" id="txt-contraseña" required>
            <button type="button" id="btn-iniciar-sesion">Acceder</button>
        </form>
    </div>
    <script src="../js/iniciar-sesion.js"></script>
</body>
</html>
